{{!-- 
{{#if comments}}
{{#each comments as |comment|}}
  <div class="post-list">
    <h3>Current Comments:</h3>
    <div>
      <p>{{comment.content}}</p>
      <p>{{comment.date_created}}</p>
    </div>
    {{/each}}
  </div>
{{/if}}

<div>
  <form class="new-comment-form">
    <label for="comment-content">Post your comment:</label>
    <textarea
      class="form-input"
      id="comment-content"
      name="comment-content"
    ></textarea>

    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>



{{! <div>
  COMMENT SECTION HERE
</div> }}

{{! <script src="/js/comment.js"></script> }} --}}