<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div>
      <header>
        <div>
          <h1>The Tech Blog</h1>
          <nav>
            <a class="link" href="/">Home</a>
            <a class="link" href="/dashboard">Dashboard</a>
            {{#if logged_in}}
              <a class="link" href="/" id="logout">Logout</a>
            {{else}}
              <a class="link" href="/login">Login</a>
              {{! <a class="link" href="/signup">Sign-up</a> }}
            {{/if}}
          </nav>
        </div>
      </header>

      <main>
        {{{body}}}
      </main>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}

  </body>

</html>