<div>
  <h3>Edit Post</h3>
  <form>
    <label>Title</label>
    <input />
    <label>Content</label>
    <input />
    <button>Update Post</button>
    <button>Delete Post</button>
  </form>
</div>

<script src="/public/js/editPost.js"></script>
<script src="/public/js/deletePost.js"></script>