<div class="row justify-content-center">
  <form class="col-md-5 form login-form">
    <h2>Login here</h2>
    <!-- Email input -->
    <div class="form-outline mb-4 form-group">
      <input type="text" id="email-login" class="form-input form-control" />
      <label class="form-label" for="email-login">Email address</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4 form-group">
      <input
        type="password"
        id="password-login"
        class="form-input form-control"
      />
      <label class="form-label" for="password-login">Password</label>
    </div>

    <!-- Submit button -->
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Sign in</button>
    </div>
  </form>

  {{! SIGNUP HERE }}
  <form class="col-md-5 form signup-form">
    <h2>Signup</h2>
    <!-- Username -->
    <div class="form-outline mb-4 form-group">
      <input type="text" id="username-signup" class="form-input form-control" />
      <label class="form-label" for="username-signup">Username</label>
    </div>

    <!-- Email-->
    <div class="form-outline mb-4 form-group">
      <input type="text" id="email-signup" class="form-input form-control" />
      <label class="form-label" for="email-signup">Email address:</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4 form-group">
      <input
        type="password"
        id="password-signup"
        class="form-input form-control"
      />
      <label class="form-label" for="password-signup">Password</label>
    </div>

    <!-- Submit button -->
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Sign-up</button>
    </div>
  </form>
</div>
<script src="./js/login.js"></script>