<div>
  <h3>Create New Post</h3>
  <form>
    <label>Title</label>
    <input />

    <label>Content</label>
    <input />

    <button>Create</button>
  </form>
</div>

<script src="/public/js/addPost.js"></script>